/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #9CCDF0; color: #fff; text-shadow: none; }
::selection { background: #9CCDF0; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }



/* ===== Primary Styles ========================================================
   Author: Kate
   ========================================================================== */

body{ background: #222; color: #FFF;}
#main { padding-top: 40px; width: 760px; margin: 0 auto;}
#video, #video-container, .video-overlay { width: 640px; height: 480px; } /* Important: height and width of video. */
.video-overlay { position: absolute; top: 0; left: 0; height: 450px; z-index: 1100;} /* Account for controls. */

#video-container { position: relative; overflow: hidden;}

#title-card {
  text-align: center; 
  background: url(../img/starfield.jpg) repeat;
  color: #F6DC7E; 
  font-family: 'Jolly Lodger'; 
  z-index: -1;
}
#title-card.on {
  z-index: 1000;
}

#pop {
  position: absolute;
  top: 40%;
  left: 20%;
  z-index: 1000;
}

#map .on{
  opacity: 0.6;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

#map .off {
  opacity: 0;
}

.zoink-container { position: absolute; }

/* TRANSITIONS  ======================================================== */
.on {
  z-index: 1000;
}

.transition {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.transition.slide {
  -webkit-transform: translate(-300px, 0);
  -moz-transform: translate(-300px, 0);
  -o-transform: translate(-300px, 0);
  opacity: 0;
}

.transition.slide.on {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  opacity: 1;
}

.transition.fade {
  opacity: 0;
}

.transition.fade.on {
  opacity: 1;
}

.transition.fly-in {
  -webkit-transform: scale(0,0);
  -webkit-transform-origin: center;
  -moz-transform: scale(0,0);
  -moz-transform-origin: center;
  -o-transform: scale(0,0);
  -o-transform-origin: center;
  -ms-transform: scale(0,0);
  -ms-transform-origin: center;
  transform: scale(0,0);
  transform-origin: center;
}

.transition.fly-in.on {
  opacity: 1;
  -webkit-transform: scale(1,1);
  -moz-transform: scale(1,1);
  -o-transform: scale(1,1);
  transform: scale(1,1);
}

.transition.grow{
  -webkit-transform: scale(1,1);
  -moz-transform: scale(1,1);
  -o-transform: scale(1,1);
  opacity: 1;
}

.transition.grow.on{
  -webkit-transform: scale(100,100);
  -moz-transform: scale(100,100);
  -o-transform: scale(100,100);
  opacity: 0;
  z-index: -1;
}

.rumble {
  display: inline-block;
  -webkit-animation: rumble .2s infinite linear;
  -moz-animation: rumble .2s infinite linear;
  -o-animation: rumble .2s infinite linear;
}

@-webkit-keyframes rumble {
    0% {-webkit-transform: rotate(0deg);}
    5% {-webkit-transform: translate(1px, 0px) rotate(-.1deg);}
    15% {-webkit-transform: translate(.1px, 0px) rotate(-2deg);}
    66% {-webkit-transform: translate(-.1px, 0px) rotate(.1deg);}
    90% {-webkit-transform: translate(0px, -1px) rotate(0deg);}
    95% {-webkit-transform: translate(-1px, 0px) rotate(2deg);}
    100% {-webkit-transform: translate(0px, .1px) rotate(0deg);} 
}

@-webkit-keyframes flicker {
    0% {opacity: .4;}
    67% {opacity: .7;}
    65% {opacity: .3;}
    85% {opacity: .7;}
    87% {opacity: .4;}
    90% {opacity: .8;}
    92% {opacity: .4;}
    100% {opacity: 1;}
}

@-webkit-keyframes flickeroff {
    0% {opacity: 1;}
    85% {opacity: .7;}
    87% {opacity: .4;}
    90% {opacity: .8;}
    92% {opacity: .4;}
    100% {opacity: .4;}
}

@-moz-keyframes rumble {
    0% {-moz-transform: rotate(0deg);}
    5% {-moz-transform: translate(1px, 0px) rotate(-.1deg);}
    15% {-moz-transform: translate(.1px, 0px) rotate(-2deg);}
    66% {-moz-transform: translate(-.1px, 0px) rotate(.1deg);}
    90% {-moz-transform: translate(0px, -1px) rotate(0deg);}
    95% {-moz-transform: translate(-1px, 0px) rotate(2deg);}
    100% {-moz-transform: translate(0px, .1px) rotate(0deg);} 
}

@-moz-keyframes flicker {
    0% {opacity: .4;}
    67% {opacity: .7;}
    65% {opacity: .3;}
    85% {opacity: .7;}
    87% {opacity: .4;}
    90% {opacity: .8;}
    92% {opacity: .4;}
    100% {opacity: 1;}
}

@-moz-keyframes flickeroff {
    0% {opacity: 1;}
    85% {opacity: .7;}
    87% {opacity: .4;}
    90% {opacity: .8;}
    92% {opacity: .4;}
    100% {opacity: .4;}
}

.flicker {
  -webkit-animation: flickeroff 2s 1 linear;
  -moz-animation: flickeroff 2s 1 linear;
  opacity: .4;
}

.flicker.on{
  -webkit-animation: flicker 2s 1 linear;
  -moz-animation: flicker 2s 1 linear;
  opacity: 1;
}

@-webkit-keyframes pop {
    0% {-webkit-transform: scale(0,0)}
    75% {-webkit-transform: scale(1.6,1.6)}
    100% {-webkit-transform: scale(1,1)}
}

@-moz-keyframes pop {
    0% {-moz-transform: scale(0,0)}
    75% {-moz-transform: scale(1.6,1.6)}
    100% {-moz-transform: scale(1,1)}
}

.transition.focus {
  color: transparent;
  text-shadow: 0 0 100px #FFF;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -o-transition: all .4s;
}
.transition.focus.on {
  text-shadow: 0 0 0 #FFF;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -o-transition: all .4s;
}

.blur {
  color: transparent;
  text-shadow: 0 0 5px #FFF;
}

.pop {
   -webkit-transform: scale(0,0);
   -moz-transform: scale(0,0);
   -o-transform: scale(0,0);
}

.pop.on{
    -webkit-animation: pop .2s 1 ease-out;
    -webkit-transform-origin: center;
    -webkit-transform: scale(1,1);
    -moz-animation: pop .2s 1 ease-out;
    -moz-transform-origin: center;
    -moz-transform: scale(1,1);
}


/* BUTTONS */

.btn  {
  background: #EEE;
  border: 1px solid #CCC;
  border-radius: 5px;
  box-shadow: 0 2px 1px #FFF;
  background: rgb(229,229,229);
  background: -moz-linear-gradient(top,  rgba(229,229,229,1) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(100%,rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
  background: linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 );
}
.btn:hover {
background: #FFF;
}


/* SPEECH BUBBLES */

.oval-speech {
  font-family: "digital-strip", sans-serif;
  font-size: 25px;
  font-weight: bold;
  line-height: 1;
  position: absolute;
  width: 270px;
  padding: 50px 40px;
  margin: 1em auto 50px;
  text-align: center;
  color: #444;
  background: #FFF;
  border-radius: 180px/ 120px;
  z-index: 1000;
}

.oval-speech:before {
content: "";
position: absolute;
bottom: -20px;
left: 50px;
width: 30px;
height: 30px;
background: 
#FFF;
-webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
}

.oval-speech::after {
content: "";
position: absolute;
bottom: -30px;
left: 30px;
width: 15px;
height: 15px;
background: 
#FFF;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
}

/* =============================================================================
   Media Queries
   ========================================================================== */

 /* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
/* Styles */
}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
